.container {
    margin: auto;
    width: 320px;
}

.text-field {
    width: 320px;
    background-color:rgb(211, 188, 158);
    height: 55px;
    padding: 5px;
}

.text-field input {
    width: 310px;
    height: 50px;
    background-color: beige;
    font-size: 32px;
}

.container-tombol {
    background-color: antiquewhite;
    width: 320px;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 5px;
}

.tombol, #reset {
    width: 70px;
    background-color: rgb(216, 216, 152);
    height: 30px;
    text-align: center;
    padding-top: 10px
}